[submodule "modules/llms/duckbot-gpt"]
	path = modules/llms/duckbot-gpt
	url = git@github.com:x99oly/Duckbot-gpt.git
[submodule "modules/zapi"]
	path = modules/zapi
	url = git@github.com:x99oly/Zapi.git
[submodule "modules/lumen_resume"]
	path = modules/lumen_resume
	url = git@github.com:x99oly/Lumen-Resume.git
[submodule "modules/gitter"]
	path = modules/gitter
	url = git@github.com:x99oly/Gitter.git
[submodule "modules/clients/resumeu"]
	path = modules/clients/resumeu
	url = git@github.com:x99oly/resumeu.git
