[submodule "modules/quapp"]
	path = modules/quapp
	url = git@github.com:x99oly/Quapp.git
[submodule "mudeles/llms/duckbot-gpt"]
	path = mudeles/llms/duckbot-gpt
	url = git@github.com:x99oly/Duckbot-gpt.git
[submodule "modules/llms/duckbot-gpt"]
	path = modules/llms/duckbot-gpt
	url = git@github.com:x99oly/Duckbot-gpt.git
